/* ??-----------DOCUMENT STYLES----------- */
.page {
  margin-inline: auto;
  padding: var(--main-padding);
  color: var(--text-color);
  font-family: var(--font-text), sans-serif;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  min-block-size: 100%;
  background-color: var(--bground-color);
  display: flex;
  align-items: center;
  row-gap: var(--main-padding);
  flex-direction: column;
}

/* ??-----------INDIVIDUAL STYLES----------- */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.section-style {
  max-width: 1440px;
  inline-size: 100%;
}

.full-screen {
  height: calc(100vh - 2 * var(--main-padding));
}

.block-style-1 {
  border-radius: var(--border-radius-box-1lvl);
  padding: var(--main-padding);
  background-color: var(--bground-color-box-1lvl);
}

.block-style-2 {
  border-radius: var(--border-radius-box-1lvl);
  padding: var(--main-padding);
  background-color: var(--bground-color-box-2lvl);
}

.heading-style {
  font-family: var(--font-headline), sans-serif;
  color: var(--heading-color);
  font-weight: 400;
  line-height: 1.1;
}

.heading-style_h1 {
  font-size: 65px;
  line-height: initial;
}

.heading-style_h2 {
  font-size: clamp(1.875rem, 1.4717rem + 1.6981vw, 3rem);
  margin-block-end: var(--main-padding);
  line-height: 1;
}

.heading-style_h3 {
  font-size: clamp(1.5625rem, 1.3217rem + 1.1009vw, 2.3125rem);
  margin-block-end: 10px;
}

.heading-style_h4 {
  font-size: clamp(1.375rem, 1.2453rem + 0.5607vw, 1.75rem);
}

.button-style {
  font-family: 'Oswald', sans-serif;
  border-radius: var(--border-radius-box-1lvl);
  background-color: var(--accent-color);
  padding: 15px;
  color: black;
  font-size: 24px;
  font-weight: 100;
  line-height: 1.1;
}

.button-style:hover {
  background-color: var(--accent-color_hover);
  box-shadow: inset 0 0 5px -1px #000;
}

.button-style:focus-visible {
  outline: none;
  background-color: var(--accent-color_hover);
  box-shadow: inset 0 0 5px -1px #000;
}

.accent-color {
  color: var(--accent-color);
}

.paragraph-style {
  margin-block-end: 10px;
}

.text-link {
  transition: 0.3s;
}

.text-link:hover {
  color: var(--accent-color);
}

.text-link:active {
  color: var(--accent-color_hover);
}

.text-link:focus-visible {
  color: var(--accent-color);
  outline-offset: 5px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  block-size: 100%;
  inline-size: 100%;
  padding: var(--main-padding);
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.modal__container {
  display: flex;
  position: relative;
  border-radius: var(--border-radius-box-1lvl);
  overflow: hidden;
  max-inline-size: 1440px;
  max-block-size: 100%;
  gap: var(--main-gap);
  flex-direction: column;
  z-index: 1;
  box-shadow: 0px 0px 20px 1px #000;
}

.modal__container_small {
  inline-size: 60%;
  background-image: url(../images/lines.jpg);
  background-size: cover;
}

.modal__container_small::before {
  z-index: -1;
  content: '';
  position: absolute;
  inset: 0;
  opacity: 0.9;
  background-image: linear-gradient(to right, #333, #333);
}

.modal__container_small::after {
  z-index: -1;
  content: '';
  position: absolute;
  inset: 0;
  background-image: linear-gradient(to right, transparent, #333);
}

.modal_active {
  display: flex;
}

.modal__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__close {
  block-size: 50px;
  aspect-ratio: 1;
  border-radius: var(--border-radius-box-1lvl);
}

.modal__close:focus-visible .modal__close_svg path {
  fill: var(--accent-color);
}

.modal__close_svg path {
  fill: var(--text-color);
  transition: 0.3s;
}

.modal__close:hover .modal__close_svg path {
  fill: var(--accent-color);
}

.modal__close_svg {
  inline-size: 100%;
  block-size: 100%;
}

.modal__content {
  overflow-y: auto;
  padding-inline-end: var(--between-gap);
}

.modal__container .modal__heading {
  margin-block-end: 0;
  line-height: 1;
}

/* ??-----------FORM LINK----------- */
.form-content {
  display: grid;
  grid-template-columns: 50% 1fr;
  gap: var(--main-gap);
  padding: 2px;
}

.form-link {
  display: flex;
  flex-direction: column;
  gap: var(--between-gap);
}

.form-input {
  background-color: var(--bground-color-box-1lvl);
  border-radius: var(--border-radius-box-2lvl);
  block-size: 20px;
  padding: var(--between-gap);
}

.form-area {
  border: none;
  resize: none;
  block-size: 100%;
  font: inherit;
  color: inherit;
  overflow: hidden;
}

.form-input::placeholder {
  color: #666;
}

.file-container {
  display: grid;
  grid-template-columns: 1fr min-content;
  inline-size: 100%;
  gap: var(--between-gap);
}

.form-input_file {
  font-size: 12px;
  display: block;
  block-size: 100%;
  overflow: auto;
}

.form__file-item {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form__file-item:not(:last-child) {
  margin-bottom: 5px;
}

.input-file_button {
  block-size: 50px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bground-color-box-1lvl);
  border-radius: var(--border-radius-box-2lvl);
}

.input-file_button:active,
.form-input_file:active {
  outline: 1px solid var(--accent-color);
}

.input-file_button-real,
.input-file_button:focus,
.form-input_file:focus {
  outline: none;
}

.input-file_button-real:focus-visible~.form-input_file {
  outline: 1px solid var(--accent-color);
}

.input-file_button-real:focus-visible~.input-file_button {
  outline: 1px solid var(--accent-color);
}

.file-container:has(.input-file_button:active) .form-input_file {
  outline: 1px solid var(--accent-color);
}

.form-input_file:active~.input-file_button {
  outline: 1px solid var(--accent-color);
}

.form-input_file-empty {
  color: #666;
  font-size: var(--font-size);
}

.input-file_svg {
  block-size: 70%;
  inline-size: 70%;
}

.input-file_svg__path {
  transition: 0.3s;
}

.input-file_button:hover .input-file_svg__path {
  fill: var(--accent-color);
}

.form-text {
  grid-column: 2/ -1;
}

.form-text__heading {
  font-size: clamp(1.5625rem, 1.4112rem + 0.6542vw, 2rem);
  font-weight: 300;
  margin-block-end: var(--between-gap);
}

.form-submit__button {
  border-radius: var(--border-radius-box-2lvl);
  transition: 0.3s;
}

.form-input,
.input-file_button {
  transition: outline 0.3s;
}

.form-input.error {
  outline: 1px solid red;
}

/* ??-----------SCROLL----------- */
.scroll-style::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.scroll-style::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: var(--border-radius-box-1lvl);
}

.scroll-style::-webkit-scrollbar-track-piece {
  background-image: linear-gradient(0deg, var(--bground-color-box-1lvl) 0%, var(--bground-color-box-1lvl) 40%, var(--bground-color-scroll-track) 45%, var(--bground-color-scroll-track) 55%, var(--bground-color-box-1lvl) 55%, var(--bground-color-box-1lvl) 100%);
}

/* .scroll-style::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent-color_hover);
} */

/* ??-----------SECTION HEADER----------- */
.head-section {
  display: flex;
  inline-size: 100%;
  gap: var(--main-gap);
  flex-direction: column;
  min-block-size: calc(100vh - 2 * var(--main-padding));
}

/* ??-----------HEADER----------- */
.head-section__header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  inline-size: 100%;
  background-color: var(--bground-color-box-1lvl);
}

.header__logo {
  display: block;
  inline-size: 150px;
}

.header__logo::before {
  display: none;
}

.header__navigation-list {
  display: flex;
  justify-content: space-evenly;
  gap: clamp(1.875rem, -2.7404rem + 7.2115vw, 3.75rem);
}

.header__contacts {
  justify-self: end;
  display: flex;
  gap: var(--between-gap);
  align-items: center;
}

.contacts__phone {
  padding: 8px;
  border: 1px solid var(--accent-color);
  border-radius: var(--border-radius-box-1lvl);
  transition: 0.3s;
}

.header__contacts-list {
  display: flex;
  gap: 10px;
}

.contacts-list__item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  block-size: 35px;
  inline-size: 35px;
  background-color: var(--accent-color);
  border-radius: 50%;
  transition: 0.3s;
}

.contacts-list__item-link:hover {
  background-color: var(--accent-color_hover);
  box-shadow: inset 0 0 5px -1px #000;
}

.contacts-list__item-link:focus-visible {
  outline: none;
  background-color: var(--accent-color_hover);
  box-shadow: inset 0 0 5px -1px #000;
}

.item-link__svg {
  inline-size: 23px;
  block-size: 23px;
}

/* ??-----------HEADER BYRGER MENU----------- */
.header__burger-menu-btn {
  display: none;
}

.burger-menu-overlay {
  display: none;
}

/* ??-----------SECTION PRESENTER----------- */
.head-section__presenter {
  flex-grow: 1;
  display: flex;
  align-items: center;
  position: relative;
  background-color: thistle;
  background-image: url(../images/lazer_1.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.head-section__presenter::before {
  content: '';
  position: absolute;
  background-color: black;
  border-radius: var(--border-radius-box-1lvl);
  opacity: 0.5;
  inset: 0;
  z-index: 0;
}

.presenter-content {
  z-index: 0;
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-direction: column;
  inline-size: 575px;
}

.presenter__heading {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: clamp(2.1875rem, -0.4716rem + 10.9091vw, 4.0625rem);
  line-height: 1;
}

.presenter__text {
  font-size: 20px;
  padding-inline-start: 3px;
}

.presenter__contact-button {
  transition: 0.3s;
}

/* ??-----------MAIN----------- */
.main {
  min-block-size: 100%;
}

.main section:not(:last-child) {
  margin-block-end: var(--main-padding);
}

/* ??-----------SECTION ADVANTAGES----------- */
.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, minmax(300px, 1fr));
  grid-template-areas:
    "quailty unusual unusual"
    "quailty fast control"
    "guarantee guarantee fullescort";
  gap: var(--between-gap);
}

.advantages-item {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: var(--main-padding);
  background-color: var(--bground-color-box-2lvl);
  border-radius: var(--border-radius-box-1lvl);
  filter: saturate(90%);
}

.advantages-item::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--bground-color-box-2lvl);
  border-radius: var(--border-radius-box-1lvl);
  opacity: 70%;
}

.advantages-item .advantages-item__heading,
p {
  z-index: 0;
}

.item-quality {
  grid-area: quailty;
  justify-content: end;
  background-image: url('../images/icons/advantages/2.png');
  background-size: clamp(15.625rem, 12.0536rem + 7.4405vw, 18.75rem);
  background-repeat: no-repeat;
  background-position: 40% 10%;
}

.item-unusual {
  grid-area: unusual;
  padding-inline-end: 400px;
  background-image: url('../images/icons/advantages/1.png');
  background-size: clamp(15.625rem, 12.0536rem + 7.4405vw, 18.75rem);
  background-repeat: no-repeat;
  background-position: 90% 30%;
}

.item-fast {
  grid-area: fast;
  background-image: url('../images/icons/advantages/3.png');
  background-size: clamp(12.5rem, 8.9286rem + 7.4405vw, 15.625rem);
  background-repeat: no-repeat;
  background-position: 90% 70%;
}

.item-control {
  grid-area: control;
  background-image: url('../images/icons/advantages/4.png');
  background-size: clamp(12.5rem, 8.9286rem + 7.4405vw, 15.625rem);
  background-repeat: no-repeat;
  background-position: 90% 70%;
}

.item-guarantee {
  grid-area: guarantee;
  padding-inline-end: 400px;
  background-image: url('../images/icons/advantages/5.png');
  background-size: clamp(15.625rem, 12.0536rem + 7.4405vw, 18.75rem);
  background-repeat: no-repeat;
  background-position: 90% 50%;
}

.item-fullescort {
  grid-area: fullescort;
  background-image: url('../images/icons/advantages/6.png');
  background-size: clamp(12.5rem, 8.9286rem + 7.4405vw, 15.625rem);
  background-repeat: no-repeat;
  background-position: 100% 70%;
}

/* ??-----------SECTION CATALOG----------- */
.catalog {
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.catalog-list {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  gap: var(--between-gap);
  overflow-x: auto;
  padding-block-end: var(--main-padding);
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.catalog-item {
  position: relative;
  inline-size: 100%;
  block-size: 100%;
  flex: 0 0 calc((100% - (var(--main-gap) * 2)) / 4);
  transition: 0.3s;
  filter: saturate(30%);
  border-radius: var(--border-radius-box-1lvl);
  overflow: hidden;
  scroll-snap-align: start;
  z-index: 0;
}

.catalog-item::before {
  content: '';
  position: absolute;
  opacity: 0.5;
  background-color: #000;
  inset: 0;
  z-index: -1;
  border-radius: var(--border-radius-box-1lvl);
  transition: 0.3s;
}

.catalog-item:hover::before {
  opacity: 0;
  filter: saturate(0%);
}

.catalog-item__link {
  padding: clamp(0.9375rem, -0.1339rem + 2.2321vw, 1.875rem);
  border-radius: var(--border-radius-box-1lvl);
  display: block;
  inline-size: 100%;
  block-size: 100%;
}

.catalog-item__link:focus-visible {
  outline: 2px solid var(--accent-color);
  outline-offset: -2px;
}

.catalog-item:has(.catalog-item__link:focus-visible) {
  filter: none;
}

.catalog-item:has(.catalog-item__link:focus-visible).catalog-item::before {
  opacity: 0;
  filter: saturate(0%);
}

.catalog-item__index {
  position: absolute;
  top: 5px;
  left: 5px;
  line-height: 0.8;
  opacity: 0.5;
  color: var(--accent-color);
  font-size: clamp(6.25rem, 4.4127rem + 7.7358vw, 11.375rem);
  font-family: var(--font-headline);
  font-weight: 400;
}

.catalog-item__image {
  position: absolute;
  inset: 0;
  z-index: -2;
}

.catalog-item__heading {
  position: relative;
  text-shadow: 0px 0px 10px #000;
  font-size: clamp(1.5rem, 0.5rem + 2.0833vw, 2.375rem);
}

.catalog-item:hover {
  filter: none;
}

/*? CATEGORY OFFERS CATALOG */
.catalog-info {
  display: flex;
  block-size: 100%;
  flex-direction: column;
  gap: var(--between-gap);
  inline-size: 100%;
}

.catalog-info__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--between-gap);
  inline-size: 100%;
}

.catalog-info__item {
  border-radius: var(--border-radius-box-1lvl);
  background-color: var(--bground-color-box-2lvl);
}

.catalog-info__link {
  padding: var(--main-padding);
  block-size: 100%;
  inline-size: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.catalog-info__heading {
  block-size: 100%;
  text-align: center;
}

/* ??-----------COMMUNICATION----------- */
.communication {
  background-color: var(--accent-color);
  color: #000;
  display: flex;
  gap: var(--between-gap);
  align-items: center;
  justify-content: space-between;
}

.communication__heading {
  color: currentColor;
}

.communication__button {
  background-color: var(--bground-color-box-1lvl);
  color: #fff;
  flex: 0 0 calc(((100% - 45px) / 4));
  transition: 0.5s;
}

/* ??-----------TOP PRODUCTS------------ */
.top-products .scroll-style::-webkit-scrollbar-track-piece {
  background-image: linear-gradient(90deg, var(--bground-color-box-1lvl) 0%, var(--bground-color-box-1lvl) 40%, var(--bground-color-scroll-track) 45%, var(--bground-color-scroll-track) 55%, var(--bground-color-box-1lvl) 55%, var(--bground-color-box-1lvl) 100%);
}

.top-products {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
}

.top-products__container {
  display: grid;
  grid-template-columns: 1fr 25%;
  gap: var(--main-gap);
  block-size: 100%;
  overflow: hidden;
}

.top-products__viewer {
  border-radius: var(--border-radius-box-1lvl);
  overflow: hidden;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr;
  column-gap: var(--between-gap);
  position: relative;
  z-index: 0;
  padding: var(--main-padding);
}

.top-products__viewer::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6) 25%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0) 45%, transparent);
}

.viewer__image {
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  inline-size: 100%;
  block-size: 100%;
  z-index: -2;
}

.viewer__index {
  grid-row: 1/-1;
  align-self: flex-start;
  color: white;
  font-size: clamp(3.75rem, 1.3727rem + 10.2804vw, 10.625rem);
  font-family: var(--font-headline);
  font-weight: 400;
  line-height: 85%;
  opacity: 80%;
}

.viewer__title {
  line-height: 1.1;
  font-size: clamp(2.25rem, 1.5357rem + 1.4881vw, 2.875rem);
  font-family: var(--font-headline);
  color: #fff;
  text-transform: uppercase;
}

.viewer__button {
  grid-column: 1/-1;
  margin-block-start: var(--between-gap);
  text-decoration: underline;
  border-radius: 10px;
  text-underline-offset: 4px;
  color: var(--accent-color);
  transition: 0.3s;
}

.viewer__button:hover {
  color: var(--accent-color_hover);
}

.viewer__button:focus-visible {
  outline-offset: 10px;
  color: var(--accent-color_hover);
}

.viewer__text-content {
  grid-column: 2/3;
}

.viewer__button_mobile {
  display: none;
  transition: 0.3s;
}

.viewer__button_mobile:hover {
  background-color: var(--accent-color_hover);
  box-shadow: inset 0 0 5px -1px;
}

.top-products__list {
  display: flex;
  flex-direction: column;
  gap: var(--between-gap);
  overflow-y: auto;
  padding: 2px;
  padding-inline-end: 30px;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.top-products__item {
  border-radius: var(--border-radius-box-1lvl);
  overflow: hidden;
  position: relative;
  z-index: 0;
  scroll-snap-align: start;
  flex-shrink: 0;
  block-size: calc(((100% - 30px) / 3));
}

.item_active .top-products-item__link {
  color: var(--accent-color);
  outline: 2px solid var(--accent-color);
  outline-offset: -2px;
  filter: none;
}

.top-products-item__link {
  display: block;
  border-radius: var(--border-radius-box-1lvl);
  padding: var(--main-padding);
  inline-size: 100%;
  block-size: 100%;
  filter: saturate(10%);
}

.top-products-item__link:hover {
  filter: none;
}

.top-products-item:focus-within {
  filter: saturate(50%);
  border: 20px solid red;
}

.top-products-item__link:focus-visible {
  filter: none;
  outline: 2px solid var(--accent-color);
  outline-offset: -2px;
}

.top-products-item__index {
  z-index: 1;
  line-height: 80%;
  font-size: 60px;
  font-family: var(--font-headline);
  font-weight: 400;
  text-shadow: 0px 0px 10px #000;
}

.top-products-item__heading {
  display: none;
}

.top-products-item__description {
  display: none;
}

.top-products-item_button {
  display: none;
}

.top-products-item__image {
  position: absolute;
  display: block;
  inset: 0;
  z-index: -1;
}

.top-products__pagination {
  display: none;
}

/* ??-----------CONTACTS------------ */
.contacts {
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius-box-1lvl);
}

.contacts__info {
  position: absolute;
  display: grid;
  grid-template-rows: min-content 1fr;
  top: var(--main-padding);
  left: var(--main-padding);
  inline-size: 40%;
  height: calc(100% - 2 * var(--main-padding));
  background-color: var(--bground-color-box-2lvl);
  border-radius: var(--border-radius-box-1lvl);
  padding: var(--main-padding);
  box-shadow: 0px 0px 20px 1px #000;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts__item {
  display: flex;
  gap: var(--main-gap);
  padding-block: clamp(1.25rem, 0.9595rem + 1.2563vw, 1.5625rem);
  align-items: center;
}

.contacts__item:not(:last-child) {
  border-bottom: 1px solid var(--bground-color-lines);
}

.contacts__item:first-child {
  padding-block-start: 0;
}

.contacts__item img {
  inline-size: 30px;
  block-size: 30px;
}

.contacts__map {
  border-radius: var(--border-radius-box-1lvl);
}

/* ??-----------CERTIFICATES----------- */
/* .certificates {
  display: flex;
  flex-direction: column;
}

.certificates-list {
  display: flex;
  gap: var(--between-gap);
  overflow-x: auto;
  padding-block-end: var(--main-padding);
}

.certificates-item {
  flex: 0 0 calc(((100% - 45px) / 4));
  border-radius: var(--border-radius-box-1lvl);
  overflow: hidden;
}

.certificates-link {
  display: block;
  block-size: 100%;
  inline-size: 100%;
} */

/* ??-----------requisites----------- */
.requisites {
  display: grid;
  gap: var(--between-gap);
  grid-template-columns: 1fr 1fr;
}

.requisites__container-1 {
  grid-row: 1 / 3;
}

.requisites__text {
  margin-block-end: var(--main-gap);
}

.requisites__button {
  transition: 0.3s;
  inline-size: 100%;
  border-radius: var(--border-radius-box-2lvl);
}

.requisites__container-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.requisites__container-2 p {
  grid-column: 1 / -1;
  line-height: 1.4;
}

p.requisites__f-address {
  margin-block-end: var(--main-gap);
}

p.requisites__inn,
p.requisites__kpp,
p.requisites__ogrn,
p.requisites__okpo {
  grid-column: span 1;
}

.requisites__container-3 {
  display: grid;
  gap: 10px;
  line-height: 1.4;
}

/* ??-----------FOOTER----------- */
.footer {
  display: grid;
  inline-size: 100%;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

.footer__logo {
  display: block;
  inline-size: 120px;
}

.footer__logo:focus-visible {
  outline-offset: 15px;
}

.footer__polytics {
  justify-self: end;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.footer__polytics a {
  text-decoration: underline currentColor;
}

/*? @MEDIA */
@media (width < 1024px) {

  /* ??-----------HEADER BYRGER MENU----------- */
  .header__burger-menu-btn {
    justify-self: end;
    display: flex;
    position: relative;
    align-items: center;
    inline-size: 40px;
    background-color: var(--accent-color);
    block-size: 40px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
  }

  .header__burger-menu-btn:hover {
    background-color: var(--accent-color_hover);
    box-shadow: inset 0 0 5px -1px #000;
  }

  .header__burger-menu-btn::after {
    transition: 0.3s;
    content: '';
    position: absolute;
    top: calc(50% - 8.5px);
    left: calc(50% - 10px);
    display: block;
    width: calc(100% - 20px);
    height: 3px;
    border-radius: 10px;
    background-color: #000;
  }

  .header__burger-menu-btn::before {
    transition: 0.3s;
    content: '';
    position: absolute;
    bottom: calc(50% - 8.5px);
    left: calc(50% - 10px);
    display: block;
    width: calc(100% - 20px);
    height: 3px;
    border-radius: 10px;
    background-color: #000;
  }

  .burger-line {
    display: flex;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background-color: #000;
    transition: 0.3s;
  }

  /* ??-----------MODAL----------- */
  .modal__container_small {
    inline-size: 80%;
  }

  /* ??-----------PAGE----------- */
  .page:has(.burger-menu_active) {
    overflow: hidden;
    scrollbar-gutter: stable;
  }

  /*? HEADER */
  .head-section__header {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    z-index: 1;
  }

  .header__logo {
    grid-column: 2/3;
    z-index: 0;
  }

  .header__logo::before {
    display: block;
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--border-radius-box-1lvl);
    inline-size: 100%;
    block-size: 100%;
    background-color: var(--bground-color-box-1lvl);
  }


  .header__navigation,
  .header__contacts {
    display: none;
    opacity: 0;
    transition: 0.3s ease;
  }

  .header__navigation-list {
    display: flex;
    gap: 0;
    flex-direction: column;
    align-items: center;
  }

  /*? burger menu */
  .burger-menu-overlay .header__navigation {
    display: flex;
  }

  .burger-menu-overlay .header__navigation-list,
  .burger-menu-overlay .header__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .burger-menu-overlay .navigation-list__item-link {
    padding: 15px;
    display: block;
    padding-inline: 50px;
  }

  .burger-menu-overlay .header__contacts-list {
    gap: var(--main-gap);
  }

  .burger-menu-overlay .contacts-list__item-link {
    block-size: 45px;
    inline-size: 45px;
  }

  .burger-menu-overlay .item-link__svg {
    inline-size: 29px;
    block-size: 29px;
  }

  .burger-menu-overlay {
    display: flex;
    gap: calc(2 * var(--main-gap));
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: var(--border-radius-box-1lvl);
    top: 50%;
    left: 0;
    inline-size: 100%;
    block-size: 0;
    background-color: var(--bground-color-box-1lvl);
    overflow: hidden;
    transition: block-size 0.5s ease-out, opacity 0.3s ease;
    z-index: -1;
  }

  .burger-menu_active.burger-menu-overlay {
    block-size: calc(100vh - 2 * var(--main-gap) - 50%);
  }

  .burger-menu_active .header__navigation,
  .burger-menu_active .header__contacts {
    opacity: 1;
  }

  .burger-menu_active~.header__burger-menu-btn .burger-line {
    opacity: 0;
  }

  .burger-menu_active~.header__burger-menu-btn::after {
    rotate: 45deg;
    top: calc(50% - 1.5px);
  }

  .burger-menu_active~.header__burger-menu-btn::before {
    rotate: -45deg;
    bottom: calc(50% - 1.5px);
  }

  /* ??-----------SECTION ADVANTAGES----------- */
  .advantages-list {
    grid-template-rows: auto;
  }

  .item-unusual,
  .item-guarantee {
    padding-inline-end: 0;
    background-size: 200px;
  }

  /* ??-----------TOP PRODUCTS------------ */
  .top-products__container {
    grid-template-columns: 1fr 30%;
  }

  .top-products__viewer {
    display: grid;
    gap: 0;
    grid-template-columns: auto 1fr;
    grid-template-rows: 55% min-content;
    padding: 0;
  }

  .top-products__viewer::before {
    display: none;
  }

  .viewer__image {
    block-size: 100%;
    position: relative;
    border-radius: var(--border-radius-box-1lvl);
    grid-column: 1 / -1;
  }

  .viewer__index {
    display: none;
  }

  .viewer__title {
    margin-block-start: var(--between-gap);
  }

  .viewer__text-content {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    gap: var(--between-gap);
  }

  .viewer__button {
    display: none;
  }

  .viewer__button_mobile {
    display: flex;
    padding: 10px;
    inline-size: 100%;
    justify-content: center;
    border-radius: var(--border-radius-box-2lvl);
  }

  /*? FOOTER */
  .footer {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 10px;
  }

  .footer__polytics {
    justify-self: center;
  }

  .footer__logo {
    inline-size: clamp(6.25rem, 5.5124rem + 3.1056vw, 7.5rem);
  }
}

@media (width < 768px) {
  :root {
    --font-size: 0.9rem;
  }

  .modal__container_small {
    inline-size: 100%;
  }

  .header__logo {
    inline-size: clamp(7.5rem, 4.375rem + 10.4167vw, 9.375rem);
  }

  .advantages-item {
    background-size: clamp(9.375rem, 3.5647rem + 25.1256vw, 15.625rem);
    background-position: center left;
    block-size: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: var(--main-padding);
  }

  .rght {
    background-position: center right;
  }

  .catalog .scroll-style::-webkit-scrollbar {
    width: 0;
  }

  .catalog-list {
    flex-direction: column;
    padding-block-end: 0;
    padding-inline-end: 0;
    scroll-snap-type: y mandatory;
  }

  .catalog-item {
    flex: 0 0 calc(((100%) - 3 * var(--between-gap)) / 4);
  }

  .catalog-item__link {
    padding: var(--main-padding);
  }

  .catalog-item__heading {
    font-size: clamp(1.75rem, 1.3433rem + 1.7588vw, 2.1875rem);
  }

  .advantages-list {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "quailty"
      "unusual"
      "fast"
      "control"
      "guarantee"
      "fullescort";
  }

  .top-products__viewer {
    display: none;
  }

  .top-products .scroll-style::-webkit-scrollbar {
    height: 0;
  }

  .top-products__container {
    display: flex;
    flex-grow: 1;
    gap: initial;
    inline-size: 100%;
    overflow: hidden;
  }

  .top-products__list {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    gap: var(--between-gap);
    scroll-snap-type: x mandatory;
    inline-size: 100%;
    padding: 0;
  }

  .top-products__item {
    block-size: 100%;
    background-color: var(--bground-color-box-2lvl);
    flex: 1 0 100%;
    filter: none;
  }

  .top-products-item__link {
    display: grid;
    gap: var(--between-gap);
    grid-template-columns: min-content 1fr;
    grid-template-rows: 50% min-content min-content;
  }

  .top-products-item__index {
    font-size: clamp(2.5rem, 1.3379rem + 5.0251vw, 3.75rem);
    color: var(--accent-color);
    text-shadow: none;
  }

  .top-products-item__heading {
    display: block;
    font-size: clamp(1.5625rem, 0.9234rem + 2.7638vw, 2.25rem);
    font-family: var(--font-headline);
    color: #fff;
    text-transform: uppercase;
  }

  .top-products-item__description {
    display: block;
    grid-column: 1/-1;
  }

  .top-products-item__image {
    grid-column: 1/-1;
    border-radius: var(--border-radius-box-1lvl);
    position: relative;
    display: block;
    z-index: 0;
  }

  .top-products-item_button {
    grid-column: 1/-1;
    align-self: end;
    display: block;
    font-family: 'Oswald', sans-serif;
    border-radius: var(--border-radius-box-2lvl);
    background-color: var(--accent-color);
    color: black;
    padding-block: 10px;
    font-size: 22px;
    font-weight: 100;
    transition: 0.5s;
  }

  .item_active {
    color: var(--text-color);
    outline: none;
    filter: none;
  }

  .top-products__pagination {
    margin-top: var(--main-padding);
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .top-products__pagination-item {
    border-radius: 50%;
    inline-size: 15px;
    block-size: 15px;
    background-color: #666;
  }

  .top-products__pagination-item_active {
    background-color: var(--accent-color);
  }

  .contacts {
    height: calc(100vh - 2 * var(--main-padding));
  }

  .contacts__info {
    inline-size: 100%;
    height: 50%;
    left: 0;
    top: 50%;
  }

  .accent-text {
    font-size: 16px;
  }
}

@media (width < 640px) {
  .form-content {
    grid-template-columns: 1fr;
  }

  .form-text {
    grid-row: 1 / span 1;
  }

  .form-text__heading {
    display: none;
  }

  .presenter__text {
    font-size: clamp(1rem, 0.6574rem + 1.4815vw, 1.25rem);
    padding-inline-start: 0;
    text-align: center;
  }

  .requisites {
    grid-template-columns: 1fr;
  }
}